{% extends 'base.html' %}
{% block content %}
<h3 class="mb-4">Exploratory Data Analytics</h3>

<div class="row g-4">
    <div class="col-12">
        <div class="bg-white p-3 shadow-sm rounded">
            <div id="chart1" style="width:100%; height:450px;"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="bg-white p-3 shadow-sm rounded">
            <div id="chart2" style="width:100%; height:450px;"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="bg-white p-3 shadow-sm rounded">
            <div id="chart3" style="width:100%; height:450px;"></div>
        </div>
    </div>
</div>

<script>
    var config = { responsive: true, displayModeBar: false };

    var c1 = JSON.parse('{{ chart1 | safe }}');
    var c2 = JSON.parse('{{ chart2 | safe }}');
    var c3 = JSON.parse('{{ chart3 | safe }}');

    Plotly.newPlot('chart1', c1.data, c1.layout, config);
    Plotly.newPlot('chart2', c2.data, c2.layout, config);
    Plotly.newPlot('chart3', c3.data, c3.layout, config);
</script>
{% endblock %}